<div class="form-group text-center">
    <span class="font-thin  general-view-caption fadeInUp">Персональная очередь</span>
</div>


<!--scroll-pane-->
<scroll-bar>
    <div class="personal-queue">
        <a href="" class="item" ng-click="select(item)" ng-repeat="item in data.Items">
            <div class="time">{{getLocalDate(item)}}</div>
            <div>
                {{item.Ticket.FullNumber}}<br/>
                {{item.Name}}
            </div>
        </a>
    </div>
</scroll-bar>


<div class="push-bottom">
    <div class="to-middle">
        <a href="" ng-click="cancel()" class="os-btn m-t-lg l-btn">Отмена</a>
    </div>
    <div class="clearfix"></div>
</div>

<!--scroll-bar-->